@font-face {
	font-family: Rubik;
	src: url(font/Rubik-VariableFont_wght.ttf);
}

@font-face {
	font-family: Rubik-i;
	src: url(font/Rubik-Italic-VariableFont_wght.ttf);
}





.container-main {
	min-width: 500px ;
	width: 100%;
	height: 100%;

}
.main {
	width:95%;
	margin: auto;
}
.header {
	display: flex;
	align-items: center;
	justify-content:space-around;
	width: 100%;
	align-self: center;
	margin: auto;
}
.center {
	display:center
}









.title-website {
	font-family: Rubik;
  	font-size: 40px; 
	text-align: left;
	min-width: 250px;
	float: left;
}
.introduction {
	font-family: Rubik;
	font-size: 20px;
	text-align: left;
	max-width: 600px;
}

.menu-resume {
	font-family: Rubik;
  	font-size: 20px;
	text-align: center;
	margin: 20px;
}
.menu-name {
	font-family: Rubik;
  	font-size: 20px;
	text-align: center;
	margin: 20px;
 
}
.project-name {
	font-family: Rubik;
	font-size: 30px; 
}
.project-description {
	font-family: Rubik;
	font-size: 18px;
	margin-bottom: 30px;
}





.avatar img {
	width:100%;
	max-width:350px;
	float: right;
	min-width:100px ;
}
.project-img img {
	width: 100%;
	max-height: 410px;
	margin-bottom: 30px;
}