





/* ————————————————————————————————————————
———————————————————normalize 内容分隔线—————————————————————
———————————————————————————————————————— */


/* 页面主体设置  */



h1,
h2,
h3 {
  letter-spacing: -0.01em;
  line-height: 1;
  font-weight: 200;
  margin-bottom: 0;
  color: #2d2d2d;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.75em;
}

h1 {
  font-size: 1.775rem;
  margin-top: 1.875rem;
  font-family: OPPOSans-B;
}

h2 {
  font-size: 27PX;
  margin-top: 6rem;
  font-family: OPPOSans-B;
  font-weight: 500;
}

h3 {
  font-size: 23PX;
  margin-top: 20PX;
  font-family: OPPOSans-B;
}
/* 各级标题 */





hr {
  background: transparent;
  display: block;
  width: 100%;
  height: 1px;
  visibility: visible;
  border: none;
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}
/* 分隔线 */






.table_of_contents-item {
  display: block;
  font-size: 0.875rem;
  line-height: 1.3;
  padding: 0.125rem;
}

.table_of_contents-indent-1 {
  margin-left: 1.5rem;
}

.table_of_contents-indent-2 {
  margin-left: 3rem;
}

.table_of_contents-indent-3 {
  margin-left: 4.5rem;
}

.table_of_contents-link {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  color: black;
  font-size: 21px;
  line-height: 1.9;
}
/* 目录 */



p {
  margin-top: 1em;

}
/* 段落 */


/* ————————————————————————————————————————
———————————————————notion 页面样式部分摘取-分隔线—————————————————————
———————————————————————————————————————— */





@font-face {
	font-family: OPPOSans-l;
	src: url(font/OPPOSans-L.ttf);
}
@font-face {
	font-family: OPPOSans-R;
	src: url(font/OPPOSans-R.ttf);
}
@font-face {
	font-family: OPPOSans-M;
	src: url(font/OPPOSans-M.ttf);
}
@font-face {
	font-family: OPPOSans-b;
	src: url(font/OPPOSans-b.ttf);
}
@font-face {
	font-family: OPPOSans-H;
	src: url(font/OPPOSans-H.ttf);
}

.projectbody {
  max-width: 1220px;
  min-width: 400px;
  margin: auto;
  line-height: 1.6;
  font-size: 21px;
  font-family: OPPOSANS-R;
  color: rgb(0, 0, 0);

}

.projectbody-wider {
	max-width: 1500px;
	min-width: 400px;
	margin: auto;
	line-height: 1.6;
	font-size: 21px;
	font-family: OPPOSANS-R;
	color: rgb(0, 0, 0);
  
  }

.container-main {
	min-width: 500px ;
	width: 100%;
	height: 100%;
	background-color:white;
  margin: auto;

}
.main {
	width:100%;
  margin: auto;
}
.header {
	width: 100%;
	margin: auto;
	position: fixed;
	height: 60px;
  top: 0%;
	background-color:white;
	box-shadow:0px 0px 8px #0000001b;




}
.center {
	display:center
}
.footer-link-container {
	display: flex;
	justify-content: center;
	width: 100%;
	
}
.footer {
	height: 400px;
	background-color: black;
	align-items: center;
	margin-top: 200px;
	flex-direction: column;
	display: flex;
	justify-content: center;
}







.title-website1 {
	font-family: OPPOSans-M;
  font-size: 40px; 
	text-align: left;
	min-width: 250px;
	float: left;
  line-height: 150%;
}
.title-website2 {
	font-family: OPPOSans-M;
  font-size: 20px; 
	text-align: left;
	min-width: 250px;
	float: left;
  line-height: 150%;
}
.introduction {
	font-family: OPPOSans-r;
	font-size: 20px;
	text-align: left;
	max-width: 600px;
  line-height: 150%;
}






.menu-link1 {
	font-family: OPPOSans-h;
  font-size: 20px;
	text-align: center;
	margin-top: 18px;
	margin-left: 40px;
	color: black; 
	text-decoration: none;
	float: left;
  align-self: center;
  font-weight: 900;
 
}



.menu-link2 {
	font-family: OPPOSans-l;
  	font-size: 20px;
	text-align: center;
	margin-top: 18px;
	margin-right: 40px;
	color: black; 
	text-decoration: none;
	float: right;
  align-self: center;
}










.section-name {
	font-family: OPPOSans-r;
	font-size: 30px;
	opacity: 20%;
	margin-bottom: 30px;
}
.project-name {
	font-family: OPPOSans-m;
	font-size: 30px;
	text-decoration: none;
	color: black;
 
}
.project-description {
	font-family: OPPOSans-r;
	font-size: 18px;
	margin-bottom: 30px;
  max-width: 550px;
}
.title-sideprojects {
	font-family: OPPOSans-m;
  	font-size: 30px; 
	text-align: left;
	min-width: 250px;
	float: left;
	margin-bottom: 40px;
	max-width: 500px;
	text-decoration: none;
	color: black;

}
.introduction-sideprojects {
	font-family: OPPOSans-r;
	font-size: 20px;
	text-align: left;
	max-width: 500px;
}


.footer-link {
	font-family: OPPOSans-r;
  	font-size: 20px;
	text-align: center;
	margin: 20px;
	color: white; 
	text-decoration: none;
}

.project-link {
	font-family: OPPOSans-m;
  	font-size: 20px;
	text-align: center;
	color: black; 
  text-decoration: none;

}

.license {
	font-family: OPPOSans-r;
  	font-size: 19px;
	color: white;
	justify-content: center;
	flex-direction: row; 
	opacity: 70%;
}
.jump-link {
	font-family: OPPOSans-r;
  	font-size: 20px;
	color: rgb(0, 0, 0); 
	text-decoration: none;

}

.projecttitle {
  font-family: OPPOSans-B;
  font-size: 46px; 
	text-align:center;
  line-height: 150%;
  margin-left: 80px;
  margin-right: 80px;

}
.projectintroduction {
  font-family: OPPOSans-L;
  font-size: 20px; 
	text-align:center;
  line-height: 150%;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
}


.keyword {
background: rgba(0, 0, 0, 0.100);
width:120px;
height:31px;
border-radius:25px;
text-align: center;
margin: 5px;
color: rgb(0, 0, 0);

}
/* 关键词 */

.column-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.column {
  min-width: 120px;
}


.avatar img {
	width:100%;
	max-width:350px;
	float: right;
	min-width:100px ;
}
.project-img img {
	width: 100%;
	max-width: 550px;
	margin-bottom: 30px;
  border:1px solid rgba(0, 0, 0, 0.105);


}

.img-border {
  border:1px solid rgba(0, 0, 0, 0.166);
}
/* 给图片加边框 */




.sideprojects-img img {
	width:100%;
	max-width:550px;
	float: right;
	min-width:100px ;
}


.image {
	margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0;
  text-align: center;
}
.image-margin {
	margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0;
  text-align: center;
}

img {
    max-width: 100%;
}


figure {
        margin: 0;
}

/* 文章插图 */







.red-background {
  background-color: #e35c59
}
.red-font {
	color:#e35c59
}
.orange-font {
	color:#f06e26
}
.gray-font {
  color: gray;
}

.white-font {
  color: white;
}
.blue-font {
	color: #4fc69b;
}
.blue-background {
	background-color: #4fc69b
}
.black-font {
	color: black;
}
.black-background {
	background-color: black;
}
.white-background {
	background-color: white;
}

.orange-background {
	background-color: #f06e26
}
.black-shadow {
	box-shadow:0px 0px 15px #0000002c;
}
.pinkblue-font {
 color:#3c42c3
}
.pinkblue-background {
	background-color:#3c42c3
   }

   .pink-font {
	color:#c26cdc
   }
   .pink-background {
	background-color:#c26cdc
   }
   
/* 颜色样式 */