





/* ————————————————————————————————————————
———————————————————normalize 内容分隔线—————————————————————
———————————————————————————————————————— */


/* 页面主体设置  */


@font-face {
  font-family: OPPOSans-R;
  src: url(font/OPPOSans-R.ttf);
}

@font-face {
  font-family: OPPOSans-M;
  src:url(/font/OPPOSans-R.ttf);
  
}
@font-face {
  font-family: OPPOSans-B;
  src:url(/font/OPPOSans-B.ttf);
  
}
/* 字体 */


h1,
h2,
h3 {
  letter-spacing: -0.01em;
  line-height: 1;
  font-weight: 200;
  margin-bottom: 0;
  color: #2d2d2d;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.75em;
}

h1 {
  font-size: 1.775rem;
  margin-top: 1.875rem;
  font-family: OPPOSans-B;
}

h2 {
  font-size: 27PX;
  margin-top: 6rem;
  font-family: OPPOSans-M;
  font-weight: 800;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.25rem;
  font-family: OPPOSans-B;
}
/* 各级标题 */





hr {
  background: transparent;
  display: block;
  width: 100%;
  height: 1px;
  visibility: visible;
  border: none;
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}
/* 分隔线 */


img {
  max-width: 100%;
}


/* 图片 */



.table_of_contents-item {
  display: block;
  font-size: 0.875rem;
  line-height: 1.3;
  padding: 0.125rem;
}

.table_of_contents-indent-1 {
  margin-left: 1.5rem;
}

.table_of_contents-indent-2 {
  margin-left: 3rem;
}

.table_of_contents-indent-3 {
  margin-left: 4.5rem;
}

.table_of_contents-link {
  text-decoration: none;
  opacity: 0.7;
  border-bottom: 1px solid rgba(55, 53, 47, 0.18);
}
/* 目录 */



p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* 段落 */


/* ————————————————————————————————————————
———————————————————notion 页面样式部分摘取-分隔线—————————————————————
———————————————————————————————————————— */





@font-face {
	font-family: OPPOSans-l;
	src: url(font/OPPOSans-L.ttf);
}
@font-face {
	font-family: OPPOSans;
	src: url(font/OPPOSans-R.ttf);
}
@font-face {
	font-family: OPPOSans-M;
	src: url(font/OPPOSans-M.ttf);
}
@font-face {
	font-family: OPPOSans-b;
	src: url(font/OPPOSans-b.ttf);
}

.projectbody {
  max-width: 1220px;
  min-width: 400px;
  margin: auto;
  line-height: 1.5;
  font-size: 21px;
  font-family: OPPOSANS-L;

}

.container-main {
	min-width: 500px ;
	width: 100%;
	height: 100%;
	background-color:white;
  margin: auto;

}
.main {
	width:100%;
  margin: auto;
}
.header {
	width: 100%;
	margin: auto;
	position: fixed;
	height: 60px;
  top: 0%;
	background-color:white;
	box-shadow:0px 0px 8px #f2f2f2;

}
.header-B {
	display: flex;
	align-items: center;
	justify-content:space-around;
	width: 100%;
	align-self: center;
	margin: auto;
	position: fixed;
	height: 60px;
	background-color:white;
	box-shadow:0px 0px 8px #f2f2f2;
}
.center {
	display:center
}
.footer-link-container {
	display: flex;
	justify-content: center;
	width: 100%;
	
}
.footer {
	height: 400px;
	background-color: black;
	align-items: center;
	margin-top: 200px;
	flex-direction: column;
	display: flex;
	justify-content: center;
}







.title-website1 {
	font-family: OPPOSans-M;
  font-size: 40px; 
	text-align: left;
	min-width: 250px;
	float: left;
  line-height: 150%;
}
.title-website2 {
	font-family: OPPOSans-M;
  font-size: 20px; 
	text-align: left;
	min-width: 250px;
	float: left;
  line-height: 150%;
}
.introduction {
	font-family: OPPOSans;
	font-size: 20px;
	text-align: left;
	max-width: 600px;
  line-height: 150%;
}

.menu-link1 {
	font-family: OPPOSans;
  	font-size: 20px;
	text-align: center;
	margin: 20px;
	margin-left: 40px;
	color: black; 
	text-decoration: none;
	float: left;
 
}
.menu-link2 {
	font-family: OPPOSans;
  	font-size: 20px;
	text-align: center;
	margin: 20px;
	margin-right: 40px;
	color: black; 
	text-decoration: none;
	float: right;
 
}
.section-name {
	font-family: OPPOSans;
	font-size: 30px;
	opacity: 20%;
	margin-bottom: 30px;
}
.project-name {
	font-family: OPPOSans;
	font-size: 30px;
	text-decoration: none;
	color: black;
 
}
.project-description {
	font-family: OPPOSans;
	font-size: 18px;
	margin-bottom: 30px;
}
.title-sideprojects {
	font-family: OPPOSans;
  	font-size: 30px; 
	text-align: left;
	min-width: 250px;
	float: left;
	margin-bottom: 40px;
	max-width: 500px;
	text-decoration: none;
	color: black;

}
.introduction-sideprojects {
	font-family: OPPOSans;
	font-size: 20px;
	text-align: left;
	max-width: 500px;
}


.footer-link {
	font-family: OPPOSans;
  	font-size: 20px;
	text-align: center;
	margin: 20px;
	color: white; 
	text-decoration: none;
}

.project-link {
	font-family: OPPOSans;
  	font-size: 20px;
	text-align: center;
	color: black; 
}

.license {
	font-family: OPPOSans;
  	font-size: 19px;
	color: white;
	justify-content: center;
	flex-direction: row; 
	opacity: 70%;
}
.projecttitle {
  font-family: OPPOSans-B;
  font-size: 46px; 
	text-align:center;
  line-height: 150%;
  margin-left: 80px;
  margin-right: 80px;

}
.projectintroduction {
  font-family: OPPOSans-L;
  font-size: 20px; 
	text-align:center;
  line-height: 150%;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
}





.avatar img {
	width:100%;
	max-width:350px;
	float: right;
	min-width:100px ;
}
.project-img img {
	width: 100%;
	max-width: 550px;
	margin-bottom: 30px;
}
.sideprojects-img img {
	width:100%;
	max-width:550px;
	float: right;
	min-width:100px ;
}

.image {
  margin-bottom: 20px;
  border-radius: 0;
  text-align: center;
}
/* 文章插图 */